@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/texgyrepagella-regular.otf') format('opentype');
}

@font-face {
  font-family: 'TeX Gyre Pagella';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/texgyrepagella-bold.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=TeX+Gyre+Pagella:wght@400;700&display=swap');

a {
  color: #8C1515;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'TeX Gyre Pagella', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

strong {
  font-family: 'TeX Gyre Pagella', Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'TeX Gyre Pagella', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

.papertitle {
  font-family: 'TeX Gyre Pagella', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'TeX Gyre Pagella', Verdana, Helvetica, sans-serif;
  font-size: 32px;
  color: #8C1515;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.colored-box {
  color: black;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}